/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1200px (Smaller desktops) */
/**************************/

@media (max-width: 75em) {
  /* .main-container {
    max-width: 90rem;
  } */

  /* .section-hero {
    width: 100%;
  } */

  .btn--default__hero {
    width: 30rem;
  }
  .section-projects {
    width: 100%;
  }
}

/**************************/
/* BELOW 1024px (Landscape Tablets) */
/**************************/

@media (max-width: 64em) {
  .section-projects {
    width: 100%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  p {
    font-size: var(--font-size-lg);
  }
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    padding: 2rem;
  }
  .btn-desktop--nav {
    display: none;
  }

  .btn-mobile--nav {
    display: block;
  }

  .nav-open .btn-mobile--nav {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  .nav__ul {
    gap: 4.8rem;
    flex-direction: column;
  }

  .nav {
    background-color: var(--bg-primary-opacity);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    /*Hide visually*/
    opacity: 0;
    /* Make it inaccessible*/
    pointer-events: none;
    /* Hide it from screen readers*/
    visibility: hidden;
  }
  .nav__li--mobile {
    display: block;
  }
  .profile-image {
    filter: sepia(0);
    box-shadow: 4px 4px 0px var(--blue-vivid);
  }

  .footer__icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  .btn-cv--nav {
    display: block;
  }

  .nav .nav-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }

  .section-featured__mobile {
    margin-top: 3rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

/**************************/
/* BELOW 768px (Smaller tablets) */
/**************************/

@media (max-width: 48em) {
  .main-container {
    padding: 0 4rem;
  }

  .title--h1 {
    font-size: var(--font-size-heading--mobile);
  }

  .title--h2 {
    font-size: var(--font-size-subtitle--mobile);
  }

  .section-about__content {
    display: block;
  }

  .section-featured {
    width: 100%;
  }

  .featured__container,
  .featured__container--left {
    grid-template-columns: 50% 50%;
  }

  /* .featured__container--left,
  .featured__container {
    display: block;
  } */

  .featured__description--container,
  .featured__description--container--left {
    width: 150%;
  }

  .stacklist {
    width: 100%;
  }

  .profile-image {
    margin: 6rem auto;
  }

  .icons__static,
  .email__static {
    display: none;
  }

  .contact__title--h3::after,
  .contact__title--h3::before {
    width: 100px;
  }

  .stack__ul--left {
    justify-content: flex-start;
  }

  .section-featured__mobile {
    margin-top: 3rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .featured__mobile {
    border-radius: 8px;
    overflow: hidden;
    max-width: 50rem;
    margin: 0 auto 5rem;
    background-color: var(--bg-secondary);
  }

  .featured__mobile--content {
    padding: 2rem 3rem;
  }

  .featured__mobile {
    color: var(--gray);
  }

  .featured__mobile a {
    margin-top: 3rem;
    display: block;
    text-align: center;
    color: var(--blue-light);
    font-weight: 600;
  }

  .footer__paragraph--copy {
    width: 100%;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .title--h1 {
    font-size: var(--font-size-heading--mobile-sm);
  }

  .title--h2 {
    font-size: var(--font-size-subtitle--mobile-sm);
  }

  .projects__grid {
    grid-template-columns: 1fr;
  }

  .section__title {
    display: block;
  }

  .section__title::after {
    width: 80px;
    margin-top: 2rem;
  }

  .section-featured {
    width: 100%;
  }

  .featured__container,
  .featured__container--left {
    grid-template-columns: 50% 50%;
  }

  .featured__description--container,
  .featured__description--container--left {
    width: 150%;
  }

  .stack__ul,
  .stack__ul--left {
    flex-wrap: wrap;
  }

  .footer__paragraph {
    font-size: var(--font-size-xxs) !important;
  }

  .footer__link {
    display: block;
    font-size: var(--font-size-xs);
    margin-bottom: 3rem;
    transition: var(--transition);
  }

  .footer__email {
    display: block;
    margin-bottom: 10rem;
  }

  .section-jobs__content {
    flex-direction: column;
  }

  .section-featured__mobile {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 28em) {
  .featured__container,
  .featured__container--left {
    grid-template-rows: 1fr 1fr 50px;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .featured__description--container,
  .featured__description--container--left {
    width: 100%;
    min-height: 70%;
  }

  .featured__description--container--left {
    width: 100%;
    margin-left: 0;
  }

  .featured__image {
    grid-row: 2;
    display: flex;
  }

  .stack__ul {
    grid-column: 1;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
